/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

dialog[open] {
  transform: translate(-50%, -50%);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.3s ease-in-out;
  margin: 0;
  padding: 20px;
}

@starting-style {
  dialog[open] {
    transform: translate(-50%, -150%);
  }
}

#page-contents {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100vh;
}

#page-header {
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
}

#projects-container {
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 10fr;
}

#new-project {
  justify-self: center;
  padding: 0rem 1.2rem;
  border-radius: 50px;
}

#new-project:active {
  transform: scale(0.9);
}

#projects {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 1rem;
}

#projects > button {
  display: block;
  flex: 1 100%;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  text-align: left;
  border: none;
}

#projects > button:hover {
  font-style: italic;
}

#projects > button:active {
  transform: scaleY(0.8);
}

#tasks-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.task-container > button {
  border: none;
  width: 100%;
  text-align: left;
}

#task-list {
  padding: 0rem 8rem 0rem 5rem;
}

#tasks-header {
  display: grid;

  gap: 1rem;
  padding: 2rem 8rem 2rem 5rem;
}

#project-options-container {
  position: relative;
  justify-self: right;
  text-align: right;
  margin: 0.3rem 0.3rem 0rem 0rem;
}

.dropdown-btn {
  border: none;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 0.1rem 0.6rem;
  margin-bottom: 0.2rem;
}

.dropdown-contents {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-80%, 0);
  display: grid;
  border-radius: 8px;
  /* gap: 0.5rem; */
  padding: 0.7rem 0rem;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.dropdown-contents button {
  text-align: left;
  width: 160px;
  padding: 0.25rem 1.5rem 0.25rem 1rem;
  border: none;
}

#current-project-name,
#current-project-description {
  padding-left: 2rem;
  text-align: left;
  justify-self: left;
}

#current-project-name {
  font-size: 1.5rem;
}

#current-project-description {
  width: 31rem;
  font-size: 0.8rem;
  line-height: 1.25;
}

#new-task {
  width: 6rem;
  padding: 0.4rem;
  justify-self: left;
  margin: 1rem 0rem 0rem 1rem;
  border-radius: 25px;
}

#task-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

#task-list {
  border: none;
  text-align: left;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hide-content {
  display: none;
  /* visibility: hidden; */
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #0d0d02;
    --background: #fcfdf2;

    --background-50: #fafce9;
    --background-100: #f5f8d3;
    --background-200: #ebf1a7;
    --background-300: #e1ea7b;

    --secondary-50: #eafbee;
    --secondary-100: #d4f7de;
    --secondary-200: #a9efbd;
    --secondary-300: #7ee79c;
    --secondary-400: #54de7b;
    --secondary-500: #29d65a;
    --secondary-600: #21ab48;
    --secondary-700: #188136;
    --secondary-800: #105624;
    --secondary-900: #082b12;
    --secondary-950: #041509;

    --primary: #d6d936;
    --secondary: #87e8a3;
    --accent: #5ddfb6;

    --low-priority: #a8e8d2;
    --medium-priority: #e5e07b;
    --high-priority: #e54f4f;
  }

  h1,
  h2,
  p,
  dialog,
  input,
  select {
    background-color: var(--background);
    color: var(--text);
  }

  button {
    background-color: var(--background);
    border-color: var(--secondary-800);
    color: var(--text);
  }

  #tasks-header button:hover,
  dialog button:hover {
    background-color: var(--primary);
  }

  #projects-container {
    background-color: var(--background-50);
  }

  #new-project {
    background-color: var(--secondary);
    color: var(--text);
    border: var(--primary) solid;
  }

  #new-project:hover {
    background-color: var(--accent);
  }

  #projects > button {
    background-color: var(--background-50);
  }

  #projects > button:hover {
    background-color: var(--secondary-200);
    border-left: solid 5px var(--secondary-100);
  }

  #page-header,
  #tasks-header,
  #task-list,
  .dropdown-contents {
    background-color: var(--background);
  }

  .high {
    background-color: var(--high-priority);
  }

  .med {
    background-color: var(--medium-priority);
  }

  .low {
    background-color: var(--low-priority);
  }

  .delete-task-btn {
    background-color: var(--background);
    color: var(--high-priority);
  }

  .delete-task-btn:hover {
    background-color: var(--high-priority);
    color: var(--background);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e8f9e1;

    --background: #050802;
    --background-50: #151603;
    --background-100: #292c07;
    --background-200: #52580e;

    --primary: #65ca2b;

    --secondary: #177832;
    --secondary-50: #041509;
    --secondary-100: #082b12;
    --secondary-200: #105624;
    --secondary-300: #188136;
    --secondary-400: #21ab48;
    --secondary-500: #29d65a;
    --secondary-600: #54de7b;
    --secondary-700: #7ee79c;
    --secondary-800: #a9efbd;
    --secondary-900: #d4f7de;
    --secondary-950: #eafbee;

    --accent: #2254a0;

    --low-priority: #1a4730;
    --medium-priority: #7f7c18;
    --high-priority: #7c1c1c;
  }

  h1,
  h2,
  p,
  dialog,
  input,
  select {
    background-color: var(--background);
    color: var(--text);
  }

  button {
    background-color: var(--background);
    border-color: var(--secondary-800);
    color: var(--text);
  }

  #tasks-header button:hover,
  dialog button:hover {
    background-color: var(--primary);
  }

  #projects-container {
    background-color: var(--background-50);
  }

  #new-project {
    background-color: var(--secondary);
    color: var(--text);
  }

  #new-project:hover {
    background-color: var(--accent);
  }

  #projects > button {
    background-color: var(--background-50);
  }

  #projects > button:hover {
    background-color: var(--secondary-200);
    border-left: solid 5px var(--secondary-100);
  }

  #page-header,
  #tasks-header,
  #task-list,
  .dropdown-contents {
    background-color: var(--background);
  }

  .high {
    background-color: var(--high-priority);
  }

  .med {
    background-color: var(--medium-priority);
  }

  .low {
    background-color: var(--low-priority);
  }

  .delete-task-btn {
    background-color: var(--text);
    color: var(--high-priority);
  }

  .delete-task-btn:hover {
    background-color: var(--high-priority);
    color: var(--text);
  }
}
