body {
  display: grid;
  grid-template-columns: 2fr 5fr;
}


button:hover {
  cursor: pointer;
}

#projects-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  background-color: lightcoral;
}

#tasks-container {
  background-color: lightcyan;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

#task-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

#task-list {
  background-color: #fafad2;
  border: none;
  text-align: left;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.high {
  background-color: red;
}

.med {
  background-color: orange;
}

.low {
  background-color: yellow;
}

.hide-description {
  display: none;
}

.delete-task-btn {
  color: red;
}